@page "/"
@rendermode InteractiveServer
<PageTitle>Beauty House</PageTitle>
<div class="Back">
    <div class="Front">
        <div class="HeadParent">
            <div class="HeadAbout">О нас</div>
            <div class="HeadAbout">Услуги</div>
            <div class="HeadAbout">Акции</div>
            <div class="HeadAbout">Обучение</div>
        </div>
        <div class="parent">
            <div>
                <div class="UpBody">
                    <p class="Beauty">BEAUTY</p>
                    <p class="House">HOUSE</p>
                </div>
                <div class="CenterBody">
                    <p class="AlignUp">Пространство красоты,любви и</p>
                    <p class="AlignUp">заботы,</p>
                    <p class="AlignUp">Специальные предложения для наших</p>
                    <p class="AlignUp">клиентов каждый месяц</p>
                </div>
                <div class="CenterBody">
                    <div class="parent">
                        <div class="Image">
                            <div>
                                <a style="text-decoration: none" href="https://localhost:7197/masters">
                                    <p class="SecondTittle">маникюр</p>
                                </a>
                            </div>
                            <img class="photo" src="Image/Rectangle 1.png"/>
                        </div>
                        <div class="Image">
                            <div>
                                <a style="text-decoration: none" href="https://localhost:7197/masters">
                                    <p class="SecondTittle">окрашивание</p>
                                </a>
                            </div>
                            <img class="photo" src="Image/Rectangle 2.png"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Image">
                <div>
                    <a style="text-decoration: none" href="https://localhost:7197/masters">
                        <p class="RecordTittle">Записаться</p>
                    </a>
                </div>
                    <img class="TittlePhoto" src="Image/Frame 4.png"/> 
            </div>
        </div>
        <div style="margin-left: 80px" class="Colon">
            <h1 class="About">Почему выбирают нас?</h1>
            <div class="parent">
                <div class="Table">
                    <h3 class="TableTittle">
                        Опытные специалисты
                    </h3>
                    <h5 class="TableText">
                        Ежегодно мастера улучшают свои навыки на курсах, отрабатывают и применяют в своей работе
                    </h5>
                </div>
                <div class="Table">
                    <h3 class="TableTittle">
                        Премиальные средства
                    </h3>
                    <h5 class="TableText">
                        В своейработе мы использум лучшие средства: ORGANIK BROWN,RUNAIL,ESTEL
                    </h5>
                </div>
                <div class="Table">
                    <h3  class="TableTittle">
                        Специальные предложения
                    </h3>
                    <h5 class="TableText">
                        Каждый месяц мы обнавляем специальные предложения для вас
                    </h5>
                </div>
            </div>
        </div>
        <div style="margin-left: 80px">
            <div>
                <h1>
                    Услуги
                </h1>
            </div>
            <div class="Services">
                <div class="Image">
                    <div>
                        <a style="text-decoration: none" href="https://localhost:7197/masters">
                            <p class="ServiceText">макияж</p>
                        </a>
                    </div>
                    <img class="ServicePhoto" src="Image/Rectangle 12.png"/>
                </div>
                <div class="Image">
                    <div>
                        <a style="text-decoration: none" href="https://localhost:7197/masters">
                            <p class="CenterText">окрашивание, коррекция бровей</p>
                        </a>
                    </div>
                    <img class="CenterPhoto" src="Image/Rectangle 13.png"/>
                </div>
                <div class="Image">
                    <a style="text-decoration: none" href="https://localhost:7197/masters">
                        <p class="ServiceText">волосы</p>
                    </a>
                    <img class="ServicePhoto" src="Image/Rectangle 14.png"/>
                </div>
                <div class="Image">
                    <a style="text-decoration: none" href="https://localhost:7197/masters">
                        <p class="ServiceText">маникюр</p>
                    </a>
                    <img class="ServicePhoto" src="Image/Rectangle 15.png"/>
                </div>
                <div class="Image">
                    <div>
                        <a style="text-decoration: none" href="https://localhost:7197/masters">
                            <p class="CenterText">наращивание ресниц</p>
                        </a>
                    </div>
                    <img class="CenterPhoto" src="Image/Rectangle 17.png"/>
                </div>
                <div class="Image">
                    <a style="text-decoration: none" href="https://localhost:7197/masters">
                        <p class="ServiceText">пирсинг</p>
                    </a>
                    <img class="ServicePhoto" src="Image/Rectangle 18.png"/>
                </div>
            </div>
        </div>
        <div style="margin-left: 50px">
            <div>
                <h1 class="Specialz">Специальные предложения</h1>
            </div>
            <div class="parent">
                <div class="Image">
                    <div style="margin-top: 100px">
                        <div>
                            <h3 class="Special">Organic Brows</h3>
                        </div>
                        <div class="Colon">
                            <div>
                                <p class="DownText">&bull; для любителей долговременной укладки</p>
                            </div>
                            <div>
                                <p class="DownText">&bull; для перещипанных и тонких бровей</p>
                            </div>
                            <div>
                                <p class="DownText">&bull; густых и жестких бровей</p>
                            </div>
                        </div>
                        <div class="parent">
                            <div>
                                <p class="Sale">-10% скидка</p>
                            </div>
                            <div>
                                <a style="text-decoration: none" href="https://localhost:7197/masters">
                                    <p class="RecordText">Записаться</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <img class="DownImg" src="Image/Rectangle 27.png"/>
                </div>
                <div class="Image" style="margin-left: 160px; margin-top: 160px">
                    <div>
                        <div>
                            <h3 style="margin-top: -60px; margin-left: 60px" class="Special">Заботливый уход</h3>
                        </div>
                        <div class="Colon">
                            <div>
                                <p style="margin-left: 40px" class="DownText">При записи на сложное восстановление,окрашивание+стрижка</p>
                            </div>
                        </div>
                        <div style="margin-top: 60px" class="parent">
                            <div>
                                <p class="Sale">-10% скидка</p>
                            </div>
                            <div>
                                <a style="text-decoration: none" href="https://localhost:7197/masters">
                                    <p class="RecordText">Записаться</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <img style="margin-top: -405px" class="DownImg" src="Image/Rectangle 28.png"/>
                </div>
            </div>
        </div>
        <div class="Under">
            <div style="color: white; margin-left: 300px" class="Colon">
                <div class="UnderTittle">
                    BEUTY HOUSE
                </div>
                <div style="margin-bottom: 60px" class="parent">
                    <p class="UnderAbout">О нас</p>
                    <p class="UnderAbout">Услуги</p>
                    <p class="UnderAbout">Акции</p>
                    <p class="UnderAbout">Обучение</p>
                </div>
                <div class="Colon">
                    <div class="parent">
                        <p class="UnderDate">Вт-Сб</p>
                        <p class="UnderDate">10:00-19:00</p>
                    </div>
                    <div class="parent">
                        <p class="UnderDate">Вс-Пн</p>
                        <p class="UnderDate">выходной</p>
                    </div>
                    <div>
                        <p class="UnderDate">г.Самара ул.Партизанская 16</p>
                    </div>
                    <div>
                        <p class="UnderNumber">+7-987-983-55-80</p>
                    </div>
                </div>
                <div>
                        <img class="UnderImage" src="Image/Rectangle 33.png"/>
                </div>
            </div>
        </div>
    </div>
</div>